[submodule "gridlod"]
	path = gridlod
	url = https://github.com/TiKeil/gridlod.git
[submodule "pymor"]
	path = pymor
	url = https://github.com/pymor/pymor.git
[submodule "perturbations-for-2d-data"]
	path = perturbations-for-2d-data
	url = https://github.com/TiKeil/perturbations-for-2d-data.git
